# Dependency Backend (PHP/Composer)


# Dependency Frontend (Node.js)
node_modules/

# File Konfigurasi Sensitif (Sangat Penting!)
api/.env
.env

# Build Artifacts / Log
*.log
dist/
.parcel-cache/

# System Files
.DS_Store
Thumbs.db
.vscode/
.idea/