RewriteEngine On

# Pastikan Apache tidak mengalihkan folder atau file asli yang memang ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Logika Utama: Alihkan URL /package/apapun secara diam-diam ke file package.html
# RewriteRule ^package/([a-zA-Z0-9_-]+)$ package.html?slug=$1 [L,QSA]

# Menangkap URL untuk halaman edit paket
RewriteRule ^provider/edit-package/([a-zA-Z0-9_-]+)$ provider/edit-package.html?slug=$1 [L,QSA]
RewriteRule ^user/detailpackage/([a-zA-Z0-9_-]+)$ user/detailpackage.html?slug=$1 [L,QSA]